/* Styles for interface */

.author {
  color: #a6a6a6;
  font-style: italic;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.button {
  font-size: 12pt;
  margin-top: 20pt;
  padding: 5pt;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.controls {
  background-color: #ececec;
  font-family: monospace;
  height: 100%;
  overflow: auto;
  width: 30%;
}

.controls, .results {
  box-sizing: border-box;
  padding: 20pt;
}

.desc {
  color: #757575;
}

.error {
  color: red !important;
}

.header {
  display: block;
  font-size: 30pt;
  font-weight: bold;
}

.players {
  display: block;
  margin-top: 10pt;
}

.players:first-of-type {
  margin-top: 0;
}

progress {
  margin-top: 10pt;
  width: 300pt;
}

.result {
  background-color: #ececec;
  color: #303030;
  font-size: 13pt;
  margin: 15pt 0 0 0;
  padding: 15pt;
}

.result:first-of-type {
  color: #242424;
  font-style: italic;
}

.results {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 100%;
  justify-content: center;
  overflow: auto;
  width: 70%;
}

.results-header {
  color: #242424;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 5pt;
}

.left {
  display: block;
}

.settings-header {
  color: #616161;
  display: block;
  font-size: 20pt;
  font-weight: bold;
  margin-top: 40pt;
}

.settings-input {
  width: 60pt;
}

.settings-section {
  color: #585858;
  margin: 15pt 0;
}

.settings-section:last-of-type {
  margin-bottom: 0;
}

.settings-section-header {
  font-size: 15pt;
  line-height: 200%;
  display: block;
}

.status {
  color: #3c3c3c;
  font-size: 11pt;
}

.subheader {
  display: block;
  font-size: 15pt;
}
